In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import chi2_contingency
from pandas.api.types import CategoricalDtype
import os

In [2]:
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [3]:
df = pd.read_csv('modified_data1.csv')

In [4]:
def chi2_calc(df,target):
    scores=[]
    for col in df.columns:
        ct=pd.crosstab(df[col],target)
        stat,p,dof,expected=chi2_contingency(ct)
        scores.append(p)
    return pd.DataFrame(scores, index=df.columns, columns=['P value']).sort_values(by='P value')

In [6]:
chi2_calc(df[df.columns.difference(['age', 'result'])],df['class'])

                       P value
class            5.142023e-154
A9_Score          3.854920e-63
A6_Score          5.695403e-55
A5_Score          1.545858e-45
A4_Score          3.190121e-35
A3_Score          3.352225e-31
A10_Score         3.195300e-24
A7_Score          2.506061e-20
A2_Score          2.922829e-16
A1_Score          6.089428e-15
ethnicity         1.651877e-14
contry_of_res     8.219696e-13
A8_Score          5.522806e-10
austim            4.636494e-06
jundice           1.024727e-02
gender            4.060463e-02
used_app_before   4.009394e-01
relation          8.848942e-01
age_desc          1.000000e+00